services:
  mailspring:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mailspring
    shm_size: '1gb'
    ports:
      - "6379:6379" # Web interface
      - "6080:6080" # GUI (noVNC)
    volumes:
      - ./data/config:/home/mailspring/.config/Mailspring
      - ./data/config-dev:/home/mailspring/.config/Mailspring-dev
      - ./data/cache:/home/mailspring/.cache
      - ./data/local:/home/mailspring/.local
    environment:
      - DISPLAY=:99
      - MAIL_SYNC_DEBUG=0
    networks:
      - tools-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:6379/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  tools-network:
    external: true

volumes:
  config:
  cache:
  local:
